/* 핸드폰 */
@media all and (max-width: 425px) {
  .exchange {
    display: flex;
    width: calc(100% - 10%);
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;
  }
  .exchange-market {
    width: calc(80% - 10%);
    margin-left: 5%;
    margin-right: 5%;
  }

  .exchange-button {
    font-size: 1em;
    width: calc(25% - 4%);
    margin-right: 2%;
    margin-left: 2%;
    border: 0;
    outline: 0;
    text-decoration: none;
  }
  .exchange-button:active {
    cursor: pointer;
    color: burlywood;
  }
}
/* 태블릿 */
@media all and (min-width: 426px) and (max-width: 768px) {
  .exchange {
    display: flex;
    width: calc(100% - 10%);
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;
  }
  .exchange-market {
    width: calc(80% - 10%);
    margin-left: 5%;
    margin-right: 5%;
  }

  .exchange-button {
    font-size: 1em;
    width: calc(25% - 4%);
    margin-right: 2%;
    margin-left: 2%;
    border: 0;
    outline: 0;
    text-decoration: none;
  }
  .exchange-button:active {
    cursor: pointer;
    color: burlywood;
  }
}
/* 랩탑 */
@media all and (min-width: 769px) {
  .exchange {
    display: flex;
    width: calc(100% - 10%);
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;
  }
  .exchange-market {
    width: calc(80% - 10%);
    margin-left: 5%;
    margin-right: 5%;
  }

  .exchange-button {
    font-size: 1em;
    width: calc(25% - 4%);
    margin-right: 2%;
    margin-left: 2%;
    border: 0;
    outline: 0;
    text-decoration: none;
  }
  .exchange-button:hover {
    cursor: pointer;
    color: burlywood;
  }
}
